@charset "UTF-8";
/**
 * scss配置文件
 * @authors SX
 * @date    2017-01-22 16:24:13
 */
$black: #303540;	// 深色
$dark_black: #262a33;

$silver: #8492A6;	// 银色
$light_silver: #99A9BF;
$extra_light_silver: #C0CCDA;

$gray: #D3DCE6;	// 灰色
$light_gray: #E5E9F2;
$extra_light_gray: #EFF2F7;

$dark_white: #f0f2f7;	// 白色
$white: #FFFFFF;

$border_color: #f0f2f7;

$blue: #20A0FF;	// 蓝色
$light_blue: #58B7FF;
$dark_blue: #1D8CE0;

$success: #13CE66;	// 成功
$warning: #F7BA2A;	// 警告
$danger: #FF4949;	// 危险

// 字体
// *{
// 	-webkit-font-smoothing: antialiased;
//     font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
// }

//  文字大小
h1{
	font-size: 20px;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 16px;
}

body {
	font-size: 14px !important;
}


