

.grid-container {
    width: 100%;
    height: 100%;
}
.ivu-modal-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    .ivu-modal{
        top: 0;
    }
}
// reset弹框表格
.ivu-modal-wrap {
    width: 100%;
    height: 100%;
}

.ivu-modal {
    max-height: 100%;
    overflow: auto;
}

.ivu-modal-confirm-body {
    font-size: 14px;
}

.modelTableList {
    .ivu-modal-footer {
        display: none;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}